In [36]:
chars = list(input("Enter a string: "))
del chars[0]
del chars[-1]
chars.reverse()
print("".join(chars))

Enter a string: python
ohty

In [ ]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))

print(f"Addition: {a + b}")
print(f"Subtraction: {a - b}")
print(f"Multiplication: {a * b}")
print(f"Division: {a / b}" if b != 0 else "Division: undefined (divide by zero)")

Enter first number: 5
Enter second number: 8
Addition: 13.0
Subtraction: -3.0
Multiplication: 40.0
Division: 0.625

In [ ]:
sentence = input("Enter a sentence: ")
new_sentence = sentence.replace("python", "pythons")
print(new_sentence)

Enter a sentence: i like python
i like pythons

In [ ]:
score = float(input("Enter class score (0–100): "))

if 90 <= score <= 100:
    grade = 'A'
elif 80 <= score < 90:
    grade = 'B'
elif 70 <= score < 80:
    grade = 'C'
elif 60 <= score < 70:
    grade = 'D'
elif 0 <= score < 60:
    grade = 'F'
else:
    grade = 'Invalid score'

print(f"Grade: {grade}")

Enter class score (0–100): 90
Grade: A

In [ ]:
x = [23, 'Python', 23.98]
types_list = [type(item) for item in x]
print(x)
print(types_list)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [ ]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

print("Length of IT_companies:", len(IT_companies))

IT_companies.add('Twitter')
print("After add:", IT_companies)

Length of IT_companies: 7
After add: {'Twitter', 'Amazon', 'Facebook', 'Oracle', 'Apple', 'Microsoft', 'Google', 'IBM'}

In [ ]:
IT_companies.update(['Intel', 'Salesforce', 'Cisco'])
print("After update:", IT_companies)

After update: {'Intel', 'Facebook', 'Amazon', 'Oracle', 'Apple', 'IBM', 'Twitter', 'Salesforce', 'Cisco', 'Microsoft', 'Google'}

In [ ]:
IT_companies.remove('Facebook')
print("After removal:", IT_companies)

After removal: {'Intel', 'Amazon', 'Oracle', 'Apple', 'Twitter', 'Salesforce', 'Cisco', 'Microsoft', 'Google'}

In [ ]:
print("A ∪ B:", A.union(B))
print("A ∩ B:", A.intersection(B))
print("Is A subset of B?", A.issubset(B))
print("Are A and B disjoint?", A.isdisjoint(B))
print("A ∪ B and B ∪ A are equal?", A.union(B) == B.union(A))
print("Symmetric difference:", A.symmetric_difference(B))

A ∪ B: {19, 20, 22, 24, 25, 26, 27, 28}
A ∩ B: {19, 20, 22, 24, 25, 26}
Is A subset of B? True
Are A and B disjoint? False
A ∪ B and B ∪ A are equal? True
Symmetric difference: {27, 28}

In [ ]:
del A, B

In [ ]:
age_set = set(age)
print("Age list length:", len(age))
print("Age set length:", len(age_set))
print("Duplicates removed? Yes" if len(age_set) < len(age) else "No duplicates")

Age list length: 8
Age set length: 5
Duplicates removed? Yes