In [ ]:
QUESTION-1

In [ ]:
class Counter:
    count = 0

    def __init__(self):
        self._count = 0

    def increment(self):
        self._count += 1
        Counter.count += 1

    def get_counts(self):
        return f"Instance count: {self._count}, Class count: {Counter.count}"



a = Counter()
b = Counter()

a.increment()
a.increment()
b.increment()

print(a.get_counts())
print(b.get_counts())

Instance count: 2, Class count: 3
Instance count: 1, Class count: 3

In [ ]:
QUESTION-2
def sum_all(args):
  return sum(args)
  print("sum of 1,2,3 is:", sum_all(1,2,3))
  print("sum of 4,5,6,7 is:", sum_all(4,5,6,7))

In [ ]:
def sum_all(*args):
    return sum(args)

print("Sum of 1, 2, 3 is:", sum_all(1, 2, 3))
print("Sum of 4, 5, 6, 7 is:", sum_all(4, 5, 6, 7))

Sum of 1, 2, 3 is: 6
Sum of 4, 5, 6, 7 is: 22

In [ ]:
QUESTION-3

In [ ]:
def first_word(students):
    sorted_list = sorted(students)
    first = sorted_list[0]
    return first

students = ['Mary', 'Zelda', 'Jimmy', 'Jack', 'Bartholomew', 'Gertrude']
print(first_word(students))

Bartholomew

In [ ]:
QUESTION-4

In [ ]:
class Employee:
    no_of_employees = 0
    total_salary = 0

    def __init__(self, name, family, salary, department):
        self.name = name
        self.family = family
        self.salary = salary
        self.department = department

        Employee.no_of_employees += 1
        Employee.total_salary += salary

    @classmethod
    def average_salary(cls):
        if cls.no_of_employees == 0:
            return 0
        return cls.total_salary / cls.no_of_employees

    def display_employee(self):
        print(f"Name: {self.name}, Family: {self.family}, Salary: ${self.salary}, Department: {self.department}")


class FulltimeEmployee(Employee):
    def __init__(self, name, family, salary, department, benefits):
        super().__init__(name, family, salary, department)
        self.benefits = benefits  #

    def display_employee(self):
        super().display_employee()
        print(f"Benefits: {self.benefits}")



Emp1 = Employee("rakesh", "gaddam", 89000, "Software")
Emp2 = Employee("greesh", "baddam", 90000, "AI Engineer")

Emp1.display_employee()
Emp2.display_employee()
print("Average Salary:", Employee.average_salary())

Name: rakesh, Family: gaddam, Salary: $89000, Department: Software
Name: greesh, Family: baddam, Salary: $90000, Department: AI Engineer
Average Salary: 89500.0

https://drive.google.com/drive/home